/* FOOTER */
.footer{
    padding: 20px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $light-grey;
    p{
    opacity: 50%;
    font-size: 13px;
    }
  }