@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "FormaDJRText";
}

@font-face {
  src: url("/Fonts/FormaDJRText-Regular.woff2") format("woff2"), url("/Fonts/FormaDJRText-Regular.woff") format("woff");
  font-family: "FormaDJRText";
  font-style: normal;
  font-weight: normal;
}
h1, h2, h3, h4, p {
  margin: 0;
  font-weight: normal;
}

h1, h3, p {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  h1, h3, p {
    font-size: 12px;
  }
}

h2 {
  font-size: 35px;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 5vw;
  }
}

h4 {
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 17px;
  }
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

p a:hover {
  opacity: 60%;
}

.header {
  position: fixed;
  padding: 15px;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: end;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .header {
    justify-items: start;
  }
}
@media screen and (max-width: 480px) {
  .header {
    position: absolute;
  }
}
.header > * {
  grid-column: 4/10;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header > * {
    grid-column: 2/12;
  }
}
@media screen and (max-width: 480px) {
  .header > * {
    grid-column: 1/13;
  }
}
.header .header__heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 20px 25px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(245, 245, 245, 0.5);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  border-radius: 23px;
  pointer-events: auto;
}
@media screen and (max-width: 480px) {
  .header .header__heading {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 768px) {
  .header .header__heading > p:last-child {
    display: none;
  }
}
.header .header__nav {
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  translate: 0 -24px;
  transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
@media screen and (max-width: 768px) {
  .header .header__nav {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    translate: none;
  }
}

.header__heading:hover ~ .header__nav, .header__nav:hover {
  pointer-events: all;
  opacity: 1;
  translate: 0 0px;
}

.header__nav > div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
.header__nav > div > p {
  padding: 6px 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(245, 245, 245, 0.5);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  border-radius: 23px;
}
@media screen and (max-width: 768px) {
  .header__nav > div {
    justify-content: flex-start;
  }
}

/* FOOTER */
.footer {
  padding: 20px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F5;
}
.footer p {
  opacity: 50%;
  font-size: 13px;
}

.title-section {
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .title-section {
    height: 40vh;
  }
}
.title-section--short {
  height: 40vh;
}
.title-section__skills {
  border-radius: 30px;
  padding: 10px 30px;
  line-height: 2;
}
.title-section__skills--red {
  background-color: #FFA289;
}
.title-section__skills--purple {
  background-color: #EABEFF;
}
.title-section__skills--yellow {
  background-color: #FFE54B;
}
@media screen and (max-width: 480px) {
  .title-section__skills {
    padding: 5px 20px;
  }
}
.title-section__inline-img {
  width: 100px;
  translate: 0 2px;
}

/* Cards */
.gallery-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

.card {
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  background: #F5F5F5;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  /* Zoom */
}
@media screen and (max-width: 480px) {
  .card {
    grid-column: span 12 !important;
  }
}
.card h3 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: white;
  border-radius: 15px;
  padding: 5px 20px;
}
.card a {
  width: 100%;
  height: 100%;
}
.card a > *:first-child {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  scale: 1;
  transition: scale 1.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.card:hover a > *:first-child {
  scale: 1.2;
}
.card h4:first-child {
  margin-bottom: 15px;
}
.card--txt {
  padding: 25px;
}
.card--txt p {
  letter-spacing: 0.02em;
}
.card--yellow {
  background-color: rgba(255, 229, 75, 0.25);
}
.card__two-columns {
  display: flex;
  gap: 15px;
}
.card__keywords span {
  padding: 5px 10px;
  background-color: white;
  border-radius: 20px;
  line-height: 2;
  margin-right: 5px;
}

/* OVERLAYS */
body:has(.overlay--visible) {
  overflow: hidden;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
.overlay--visible {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
.overlay__element {
  position: relative;
  height: 60%;
  width: 80%;
  max-width: 252mm;
  /* aspect-ratio: 21 / 31.5; */
  background: white;
  border-radius: 15px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8), 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.overlay__btns {
  position: relative;
  display: flex;
  align-items: center;
}
.overlay__btns > * {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8), 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.overlay__btns > *:hover {
  background: #F5F5F5;
}
.overlay__btns--close {
  padding: 7px;
  cursor: pointer;
}
.overlay__btns--txt {
  padding: 5px 20px;
  margin-left: 8px;
}
.overlay > * {
  translate: 0 -40px;
}

/* MAIN */
main {
  padding: 100px 15px 15px 15px;
  z-index: 0;
}

/* Premier rang */
/* Dimensions */
.gallery__intro {
  grid-column: span 4;
  aspect-ratio: 1/1;
  /* Placement images */
}
.gallery__intro:nth-child(1) a > *:first-child {
  translate: -50% -50%;
  transform-origin: center;
}
.gallery__intro:nth-child(2) a > *:first-child {
  translate: -50% -50%;
  transform-origin: top;
}
.gallery__intro:nth-child(3) a > *:first-child {
  translate: -50% -70%;
  transform-origin: center 70%;
}

/* Deuxième rang */
.gallery__presentation:nth-child(4) {
  grid-column: 1/8;
}
.gallery__presentation:nth-child(5) {
  grid-column: 8/13;
}

/* Troisième rang */
.gallery__project:nth-child(1) {
  grid-column: 2/9;
}
.gallery__project:nth-child(1) a > *:first-child {
  translate: -50% -50%;
  transform-origin: center;
  object-fit: cover;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .gallery__project:nth-child(1) {
    aspect-ratio: 21/9;
  }
}
.gallery__project:nth-child(2) {
  grid-column: span 3;
  aspect-ratio: 1/1;
}
.gallery__project:nth-child(2) a > *:first-child {
  translate: -50% -50%;
  object-fit: cover;
  height: 100%;
}

/* Couverture */
.article-cover {
  height: 50vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: -1;
  scale: 1.1;
}
.article-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  filter: blur(6px);
}

.cover-container {
  height: 50vh;
}

/* Chapeau */
.article__intro {
  margin-top: 0;
  opacity: 50%;
}

/* Article */
.article-main {
  padding: 0;
}

.article {
  background: white;
  box-shadow: 0px -20px 20px 20px white;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  /* Titres */
  /* Paragraphes */
  /* Visuels */
  /* Footer article */
  /* Sources */
}
.article .article-title, .article .chapter-title, .article .paragraph-title, .article p {
  max-width: 640px;
  padding: 0 15px;
  margin: auto;
}
.article .article-title {
  font-size: 45px;
  padding-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .article .article-title {
    font-size: 10vw;
  }
}
.article .chapter-title {
  width: 100%;
  padding: 20px 15px;
}
@media screen and (max-width: 768px) {
  .article .chapter-title {
    font-size: 35px;
  }
}
.article .paragraph-title {
  width: 100%;
  padding: 20px 15px;
  font-size: 25px;
}
.article p {
  font-size: 17px;
  letter-spacing: 0.02em;
}
.article a {
  animation: link 1s ease-in-out infinite alternate;
}
.article a:hover {
  opacity: 1;
  filter: saturate(3.5);
}
@keyframes link {
  from {
    text-shadow: 0 0 8px lime;
  }
  to {
    text-shadow: 0 0 18px lime;
  }
}
.article__image img {
  width: 100%;
  border-radius: 15px;
  transition: all 2.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.article__image img:hover {
  box-shadow: 0 0 30px 10px var(--accent);
}
.article__image--solo {
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  max-width: 640px;
  padding: 0 15px;
}
@media screen and (max-width: 480px) {
  .article__image--solo {
    grid-column: span 10;
  }
}
.article__image--columns {
  display: flex;
  gap: 30px;
  row-gap: 60px;
  padding: 100px max((100% - 940px) / 2, 15px);
  align-items: start;
  background-color: #f5f5f5;
  margin: 100px 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .article__image--columns {
    padding: 30px max((100% - 940px) / 2, 15px);
    row-gap: 40px;
  }
}
@media screen and (max-width: 480px) {
  .article__image--columns {
    flex-direction: column;
  }
}
.article__image--columns .column {
  flex: 1;
}
.article__image--columns .column__image {
  margin: 0;
}
@media screen and (max-width: 480px) {
  .article__image--columns .column__image {
    grid-column: span 10;
  }
}
.article__image--columns.force .column {
  flex-basis: 40%;
}
.article__image figcaption {
  opacity: 50%;
  font-size: 0.8em;
  margin-top: 15px;
}
.article__footer {
  margin: 100px max((100% - 740px) / 2, 15px) 0;
  padding: 30px 50px 10px;
  background-color: rgba(255, 229, 75, 0.25);
  border-radius: 30px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 480px) {
  .article__footer {
    padding: 20px 20px 10px;
  }
}
.article__footer p {
  padding: 0;
  text-align: center;
}
.article__footer .footer__social {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-inline-start: 0;
}
.article__footer .footer__social .logo {
  list-style: none;
  transition: all 0.2s ease-in-out;
}
.article__footer .footer__social .logo:hover {
  scale: 0.95;
}
.article__sources {
  margin: 30px max((100% - 740px) / 2, 15px);
  padding: 50px;
  background-color: #f5f5f5;
  border-radius: 30px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 480px) {
  .article__sources {
    padding: 20px;
  }
}
.article__sources h2, .article__sources h3, .article__sources p, .article__sources ul {
  padding-left: 0;
  padding-right: 0;
}
.article__sources .chapter-title {
  padding-top: 0;
}
.article__sources .paragraph-title {
  padding-bottom: 5px;
}
.article__sources h4 {
  display: inline;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.8em;
}
.article__sources ul {
  margin: 0;
}
.article__sources ul li {
  list-style: none;
  display: inline;
  margin-right: 4px;
}
.article__sources ul li span.lang {
  font-size: 0.8em;
  letter-spacing: 1px;
  border: 1px solid black;
  padding: 0.2px 5px;
  border-radius: 9px;
  margin-right: 7px;
}

/*# sourceMappingURL=style.css.map */
